.about-us {
  margin-bottom: 52px;
}

.about-us__wrapper {
  min-width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}

.about-us__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  // padding-bottom: 31px;
}

.about-us__list {
  @include reset-list;

  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  // padding-left: 30px;
}

.about-us__item {
  position: relative;
  padding-top: 84px;
  // padding-right: 60px;
}

.about-us__item--feature-flower {
  &::before {
    top: 32px;
    left: 9px;
    content: "";
    position: absolute;
    width: 32px;
    height: 37px;
    background-image: url("../img/icon-feature-flower.svg");
    background-repeat: no-repeat;
  }

  padding-right: 65px;
}

.about-us__item--feature-money {
  &::before {
    top: 31px;
    left: 0;
    content: "";
    position: absolute;
    width: 47px;
    height: 27px;
    background-image: url("../img/icon-feature-money.svg");
    background-repeat: no-repeat;
  }

  padding-right: 40px;
}

.about-us__item--feature-heart {
  &::before {
    top: 34px;
    left: 8px;
    content: "";
    position: absolute;
    width: 34px;
    height: 27px;
    background-image: url("../img/icon-feature-heart.svg");
    background-repeat: no-repeat;
  }

  padding-right: 60px;
}

.about-us__item--feature-ball {
  &::before {
    top: 29px;
    left: 3px;
    content: "";
    position: absolute;
    width: 35px;
    height: 34px;
    background-image: url("../img/icon-feature-ball.svg");
    background-repeat: no-repeat;
  }

  padding-right: 5px;
}

.about-us__item--feature-rocket {
  &::before {
    top: 28px;
    left: -7px;
    content: "";
    position: absolute;
    width: 55px;
    height: 23px;
    background-image: url("../img/icon-feature-rocket.svg");
    background-repeat: no-repeat;
  }
}

.about-us__item--feature-gift {
  &::before {
    top: 23px;
    left: 2px;
    content: "";
    position: absolute;
    width: 33px;
    height: 32px;
    background-image: url("../img/icon-feature-gift.svg");
    background-repeat: no-repeat;
  }

  padding-right: 10px;
}

@media (min-width: $width-tablet) {
  .about-us__wrapper {
    padding: 0;
  }

  .about-us__list {
    font-size: 20px;
    line-height: 22px;
    width: 300px;
  }

  .about-us__title {
    padding-bottom: 47px;
    font-size: 43px;
    line-height: 50px;
  }

  .about-us__item {
    padding-top: 53px;
    margin-bottom: 60px;
    padding-right: 0;

    span {
      display: block;
    }

    &::before {
      top: 0;
    }
  }

  .about-us {
    margin-bottom: 22px;
  }

  .about-us__mock {
    display: flex;
  }

  .about-us__item--feature-flower {
    span {
      padding-right: 70px;
    }
  }

  .about-us__item--feature-money {
    span {
      padding-right: 50px;
    }
  }

  .about-us__item--feature-heart {
    span {
      padding-right: 80px;
    }
  }

  .about-us__item--feature-gift {
    span {
      padding-right: 50px;
    }
  }

  .about-us__list--left {
    margin-right: 34px;
  }
}

@media (min-width: $width-desktop) {
  .about-us {
    margin-bottom: 29px;
  }

  .about-us__wrapper {
    padding-left: 175px;
  }

  .about-us__title {
    font-size: 53px;
    line-height: 57px;
  }

  .about-us__list--left {
    margin-right: 51px;
  }
}
