.about-us {
  margin-top: 34px;

  &__title {
    margin: 0;
    padding: 0;
    padding-top: 34px;
    padding-left: 30px;
    position: relative;
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;
    color: #000000;
    padding-bottom: 88px;

    &::before {
      position: absolute;
      top: -3px;
      content: "";
      width: 320px;
      height: 6px;
      background-image: url("../../img.bg-zigzag-line.svg");
    }
  }

  &__list {
    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    padding-left: 30px;
  }

  &__item {
    position: relative;
    padding-bottom: 85px;

    &--feature-flower::before {
      top: -57px;
      left: 9px;
      content: "";
      position: absolute;
      width: 32px;
      height: 37px;
      background-image: url("../../img/icon-feature-flower.svg");
    }

    &--feature-money::before {
      top: -55px;
      left: 0;
      content: "";
      position: absolute;
      width: 47px;
      height: 27px;
      background-image: url("../../img/icon-feature-money.svg");
    }

    &--feature-heart::before {
      top: -50px;
      left: 8px;
      content: "";
      position: absolute;
      width: 34px;
      height: 27px;
      background-image: url("../../img/icon-feature-heart.svg");
    }

    &--feature-ball::before {
      top: -54px;
      left: 3px;
      content: "";
      position: absolute;
      width: 35px;
      height: 34px;
      background-image: url("../../img/icon-feature-ball.svg");
    }

    &--feature-rocket::before {
      top: -53px;
      left: -7px;
      content: "";
      position: absolute;
      width: 55px;
      height: 23px;
      background-image: url("../../img/icon-feature-rocket.svg");
    }

    &--feature-gift::before {
      top: -55px;
      left: 2px;
      content: "";
      position: absolute;
      width: 33px;
      height: 32px;
      background-image: url("../../img/icon-feature-gift.svg");
    }
  }
}
