.button {
  display: block;
  width: 260px;
  min-height: 52px;
  border: 2px solid #444444;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #ffffff;
  color: #444444;
  padding: 14px 0;
  text-align: center;
}
