.catalog {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  margin-bottom: 30px;
}

.catalog__list {
  @include reset-list;
}

.catalog__image {
  display: block;
}

.catalog__item {
  margin-top: 30px;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.catalog__link {
  &:hover,
  &:focus {
    .catalog__item-title {
      opacity: 0.6;
    }
  }
}

.catalog__modal-link {
  display: block;

  svg {
    opacity: 0.2;
  }

  &:hover,
  &:focus {
    svg {
      fill: #63d1bb;
      opacity: 1;
    }
  }

  &:active {
    svg {
      fill: #63d1bb;
      opacity: 0.3;
    }
  }
}

.catalog__item-title {
  @include reset-h;

  font-size: 17px;
  line-height: 27px;
  padding: 31px 25px 17px 28px;
  color: #000000;
}

.catalog__item-text {
  @include reset-p;

  font-size: 13px;
  line-height: 30px;
  padding: 0 10px 26px 28px;
  color: #444444;
}

.catalog__item-price {
  display: block;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
}

.catalog__wrapper-border {
  position: relative;
  border: 1px solid #ececec;
  border-top: none;

  &::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 80%;
    background-color: gainsboro;
    bottom: 73px;
    left: 28px;
  }
}

.catalog__wrapper-price {
  min-height: 73px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 28px;
}

.catalog-production {
  width: 320px;
  padding: 0 30px;
  padding-bottom: 19px;
}

.catalog-production__wrapper {
  border: 1px solid #ececec;
}

.catalog-production__title {
  @include reset-h;

  position: relative;

  font-size: 17px;
  line-height: 24px;
  padding: 29px 10px 26px 91px;

  &::before {
    position: absolute;
    content: "";
    width: 32px;
    height: 27px;
    top: 33px;
    left: 33px;
    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
  }
}

.catalog-production__text {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  color: $grey-color;
  padding: 34px;
  padding-bottom: 29px;
}

.catalog-production__wrapper-button {
  padding: 0 34px;
  padding-bottom: 33px;
}

.catalog-production__button {
  width: 192px;
}

.catalog-production__video-link {
  display: block;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 101px;
    height: 77px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../img/icon-play.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: $width-tablet) {
  .catalog__modal-link {
    padding-right: 10px;
  }

  .catalog {
    padding: 0;
    width: 668px;
    padding-bottom: 53px;
  }

  .page-main-catalog__wrapper {
    margin-bottom: 67px;
  }

  .catalog__item {
    display: flex;
    margin-top: 54px;
  }

  .catalog__list {
    :first-child {
      margin-top: 0;
    }
  }

  .catalog__item--last {
    p {
      padding-bottom: 145px;
    }
  }

  .catalog__item-title {
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 5px;
    padding-right: 70px;
  }

  .catalog__item-text {
    font-size: 15px;
    line-height: 30px;
    padding-bottom: 169px;
  }

  .catalog__item-price {
    font-size: 17px;
  }

  .catalog__wrapper-border {
    border: 1px solid #ececec;
    width: 335px;
  }

  .catalog-production__wrapper {
    width: 668px;
    display: flex;
    flex-direction: column;
  }

  .catalog-production__video-link {
    order: -1;
  }

  .catalog-production {
    width: 668px;
    padding: 0;
  }
}

@media (min-width: $width-desktop) {
  .catalog {
    width: 1050px;
  }

  .catalog__list {
    display: flex;
  }

  .catalog__item {
    flex-direction: column;
    margin-top: 0;
    margin-right: 50px;

    a {
      margin: 0;
    }
  }

  .catalog__item-text {
    padding-bottom: 45px;
  }

  .catalog__item--last {
    margin-right: 0;

    p {
      padding-bottom: 20px;
    }
  }

  .catalog__wrapper-border {
    width: 316px;
  }

  .catalog__item-title {
    padding-right: 50px;
  }
}
