.catalog {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  margin-bottom: 25px;
}

.catalog__list {
  @include reset-list;

  flex-wrap: wrap;
}

.catalog__image {
  display: block;
}

.catalog__item {
  margin-bottom: 26px;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.catalog__link {
  &:hover,
  &:focus {
    .catalog__item-title {
      opacity: 0.6;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog__modal-link {
  display: block;

  svg {
    opacity: 0.2;
  }

  &:hover,
  &:focus {
    svg {
      fill: #63d1bb;
      opacity: 1;
    }
  }

  &:active {
    svg {
      fill: #63d1bb;
      opacity: 0.3;
    }
  }
}

.catalog__item-title {
  @include reset-h;

  font-size: 17px;
  line-height: 24px;
  padding-bottom: 5px;
  color: #000000;
}

.catalog__item-text {
  @include reset-p;

  font-size: 13px;
  line-height: 30px;
  color: #444444;
  border-bottom: 1px solid gainsboro;
  padding-bottom: 19px;
}

.catalog__item-price {
  display: block;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
}

.catalog__wrapper-border {
  position: relative;
  border: 1px solid #ececec;
  border-top: none;
  padding: 29px 28px;
}

.catalog__wrapper-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.catalog-production {
  width: 320px;
  padding: 0 30px;
  padding-bottom: 19px;
}

.catalog-production__wrapper {
  border: 1px solid #ececec;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.catalog-production__title {
  @include reset-h;

  position: relative;

  font-size: 17px;
  line-height: 24px;
  padding: 27px 10px 26px 89px;

  &::before {
    position: absolute;
    content: "";
    width: 32px;
    height: 27px;
    top: 33px;
    left: 33px;
    background-image: url("../img/icons/icon-video.svg");
    background-repeat: no-repeat;
  }
}

.catalog-production__text {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  color: $grey-color;
  padding: 21px 34px;
  padding-bottom: 25px;
}

.catalog-production__wrapper-button {
  padding: 0 34px;
  padding-bottom: 33px;
}

.catalog-production__button {
  width: 192px;
  cursor: pointer;
}

.catalog-production__video-link {
  display: block;
  position: relative;
}

.catalog-production__play-button {
  position: absolute;
  display: block;
  background: none;
  border: none;
  width: 101px;
  height: 77px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/icons/icon-play.svg");
  background-repeat: no-repeat;

  &:hover,
  &:focus {
    cursor: pointer;
    width: 121px;
    height: 92px;
    background-size: contain;
  }

  &:active {
    width: 81px;
    height: 62px;
    background-size: contain;
  }
}

@media (min-width: $width-tablet) {
  .catalog__modal-link {
    padding-right: 4px;
  }

  .catalog {
    padding: 0;
    width: 668px;
    margin-bottom: 54px;
  }

  .catalog__item {
    display: flex;
    margin-top: 54px;
  }

  .catalog__list {
    &:first-child {
      margin-top: 0;
    }
  }

  .catalog__item-title {
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 5px;
  }

  .catalog__item-text {
    font-size: 15px;
    line-height: 30px;
    padding-bottom: 175px;
  }

  .catalog__item-price {
    font-size: 17px;
  }

  .catalog__wrapper-border {
    border: 1px solid #ececec;
    width: 335px;
    padding: 26px 28px 0;

    &::before {
      bottom: 69px;
    }
  }

  .catalog__wrapper-price {
    padding: 21px 0 5px 3px;
  }

  .catalog-production {
    width: 668px;
    padding: 0;
  }

  .catalog-production__wrapper {
    display: flex;
    flex-direction: column;
  }

  .catalog-production__video-link {
    order: -1;
  }

  .catalog-production__title {
    font-size: 20px;
    line-height: 24px;
    padding: 35px 10px 11px 106px;

    &::before {
      top: 31px;
      left: 41px;
    }
  }

  .catalog-production__text {
    font-size: 15px;
    line-height: 30px;
    padding: 21px 40px 36px;
  }

  .catalog-production__button {
    min-width: 584px;
  }

  .catalog-production__wrapper-button {
    padding: 0 41px 45px 41px;
  }

  .catalog__item--last {
    p {
      padding-bottom: 152px;
    }

    h3 {
      padding-right: 40px;
    }
  }
}

@media (min-width: $width-desktop) {
  .catalog {
    width: 1050px;
    margin-bottom: 32px;
  }

  .catalog__list {
    display: flex;
  }

  .catalog__item {
    flex-direction: column;
    margin-top: 0;
    margin-right: 50px;

    a {
      margin: 0;
    }
  }

  .catalog__item-text {
    padding-bottom: 37px;
  }

  .catalog__item--last {
    p {
      padding-bottom: 13px;
    }
  }

  .catalog-production {
    width: 1050px;
  }

  .catalog-production__wrapper {
    position: relative;
  }

  .catalog-production__video-link {
    position: absolute;
  }

  .catalog-production__title,
  .catalog-production__text {
    padding-left: 758px;
  }

  .catalog-production__button {
    min-width: 230px;
  }

  .catalog-production__text {
    padding-bottom: 47px;
  }

  .catalog__wrapper-border {
    width: 316px;
    padding-bottom: 21px;
  }

  .catalog-production__title {
    padding-top: 95px;
    padding-right: 60px;

    &::before {
      left: 761px;
      top: 41px;
    }
  }

  .catalog-production__wrapper-button {
    padding-bottom: 60px;
    padding-left: 761px;
  }

  .catalog__wrapper-price {
    padding: 22px 0 4px 0;
  }
}
