.contacts__info-wrapper {
  padding: 0 30px;
}

.contacts__title {
  @include reset-list;

  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  padding-bottom: 25px;
}

.contacts__info {
  @include reset-list;

  display: flex;
  flex-direction: column;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.contacts__button-wrapper {
  padding: 0 30px;
}

.contacts__button {
  margin: 0 auto;
  width: 100%;
}

.contacts__text--email {
  padding-bottom: 30px;

  a {
    color: #444444;
    border-bottom: 1px solid #63d1bb;

    &:hover,
    &:focus {
      color: $blue-color;
    }

    &:active {
      color: $blue-color;
      opacity: 0.3;
    }
  }
}

.contacts__text--first-colum {
  padding-right: 32px;
}

.contacts__map-wrapper {
  padding-top: 37px;
  position: relative;
  padding-bottom: 39px;
}

.contacts__map-interactive {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
}

.contacts__map {
  display: block;
  margin: 0 auto;
}

.contacts__text {
  display: flex;

  span {
    padding-right: 30px;
  }

  p {
    margin: 0;
  }
}

@media (min-width: $width-tablet) {
  .contacts__map-interactive {
    width: 768px;
    height: 457px;
  }

  .contacts {
    width: auto;
    margin: 0;
  }

  .contacts__wrapper {
    padding-top: 20px;
  }

  .contacts__button {
    width: 226px;
  }

  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    padding: 0;
    padding-bottom: 49px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 47px;
      height: 81px;
      background-image: url("../img/icons/icon-flag.svg");
      background-repeat: no-repeat;
      right: 0;
      top: -15px;
    }
  }

  .contacts__info {
    display: flex;
    flex-direction: row;
    font-size: 17px;
  }

  .contacts__text {
    span {
      padding-right: 24px;
    }
  }

  .contacts__text--email {
    padding-bottom: 58px;
    margin-right: 50px;
  }

  .contacts__map-wrapper {
    padding-top: 56px;
    padding-bottom: 55px;
    margin: 0 -50px;
  }

  .contacts__info-wrapper {
    padding: 0;
  }
}

@media (min-width: $width-desktop) {
  .contacts__map-interactive {
    width: 525px;
    height: 457px;
  }

  .contacts {
    margin-top: 50px;
  }

  .contacts__info-wrapper {
    padding-left: 170px;
    padding-bottom: 79px;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;

    &::before {
      left: -107px;
      top: -8px;
    }
  }

  .contacts__button-wrapper {
    padding-left: 175px;
  }

  .contacts__button {
    margin: 0;
  }

  .contacts__wrapper {
    position: relative;
    margin: 0 auto;
    width: 1050px;
  }

  .contacts__map-wrapper {
    padding: 0;
    position: absolute;
    top: -50px;
    right: 0;
    margin: 0;
  }

  .contacts__info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    padding-left: 5px;
  }

  .contacts__text--email {
    padding-bottom: 29px;
  }
}
