.copyright {
  padding: 0 35px;
  min-height: 80px;
}

.copyright__link {
  position: relative;
  display: block;
  padding-top: 28px;
  color: #000000;
  vertical-align: middle;

  &:hover,
  &:focus {
    .copyright__logo-image {
      opacity: 1;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
}

.copyright__logo-image {
  position: absolute;
  right: 15px;
  opacity: 0.8;
  top: 22px;
}
