.copyright {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright__text {
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
}

.copyright__link {
  padding-left: 30px;
}
