.filter-color {
  margin-bottom: 8px;
}

.filter-color__checkbox-list--top {
  margin-top: 21px;
}

.filter-color__checkbox-item {
  padding-top: 10px;
  min-height: 40px;
  margin-bottom: 22px;
}

.filter-color__checkbox-label {
  display: block;
}

.filter-color__checkbox {
  position: relative;
  display: block;
  cursor: pointer;
  padding-left: 60px;
}

.filter-color__checkbox-label input[type="checkbox"]:checked + .filter-color__checkbox {
  &::before {
    position: absolute;
    content: "";
    top: -10px;
    left: 0;
    width: 40px;
    height: 40px;
    border: 2px solid #000000;
    cursor: pointer;
  }

  &::after {
    position: absolute;
    content: "";
    top: -2px;
    left: 4px;
    width: 32px;
    height: 23px;
    background: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    cursor: pointer;
  }
}

.filter-color__checkbox-label input[type="checkbox"] + .filter-color__checkbox {
  &::before {
    position: absolute;
    content: "";
    top: -10px;
    left: 0;
    width: 40px;
    height: 40px;
    border: 2px solid #000000;
    cursor: pointer;
  }
}

@media (min-width: $width-tablet) {
  .filter-color__checkbox-label input[type="checkbox"]:checked + .filter-color__checkbox {
    &::before {
      position: absolute;
      top: -16px;
      left: -21px;
      width: 54px;
      height: 54px;
    }

    &::after {
      position: absolute;
      content: "";
      top: 1px;
      left: -10px;
      width: 32px;
      height: 23px;
      background: url("../img/icon-tick.svg");
      background-repeat: no-repeat;
      cursor: pointer;
    }
  }

  .filter-color__checkbox-label input[type="checkbox"] + .filter-color__checkbox {
    &::before {
      top: -16px;
      left: -21px;
      width: 54px;
      height: 54px;
    }
  }

  .filter-color {
    background-color: #f1f1f1;

    padding: 70px 0 0;

    margin-bottom: 69px;
  }

  .filter-color__checkbox-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 158px;
    margin: -37px 0 30px 30px;
  }


  .filter-color__checkbox-item {
    min-width: 205px;
    padding: 18px 0;
    margin-bottom: 21px;
  }

  .filter-color__checkbox-item--left-column {
    margin-right: 57px;
  }
}

@media (min-width: $width-desktop) {
  .filter-color__checkbox-list {
    margin: -39px 0 30px 30px;
    padding-left: 106px;
  }

  .filter-color__checkbox-item {
    margin-right: 58px;
  }

  .filter-color__wrapper {
    padding-left: 60px;
  }
}
