.filter-type {
  margin-bottom: 31px;
}

.filter-type__radio-list {
  margin-top: 25px;

  li:first-child {
    margin-bottom: 13px;
  }
}

.filter-type__radio {
  position: relative;
  cursor: pointer;
  padding-left: 60px;
}

.filter-type__radio-item {
  min-height: 40px;
  padding-top: 10px;

  &:focus-within {
    .filter-type__radio-label input[type="radio"]:checked + .filter-type__radio,
    .filter-type__radio-label input[type="radio"] + .filter-type__radio {
      &::before {
        border-color: $blue-color;
      }
    }
  }
}

.filter-type__radio-label input[type="radio"]:checked + .filter-type__radio {
  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #000000;
    cursor: pointer;
  }

  &::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 12px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $blue-color;
    cursor: pointer;
  }

  &:hover,
  &:focus-within {
    &::before {
      border-color: $blue-color;
    }
  }

  &:active {
    &::before {
      border-color: #dadada;
    }
  }
}

.filter-type__radio-label input[type="radio"] + .filter-type__radio {
  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #000000;
    cursor: pointer;
  }

  &:hover,
  &:focus {
    &::before {
      border-color: $blue-color;
    }
  }

  &:active {
    &::before {
      border-color: #dadada;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .filter-type__radio--block {
    display: block;
    padding-right: 30px;
  }
}

@media (min-width: $width-tablet) {
  .filter-type__radio-label input[type="radio"]:checked + .filter-type__radio {
    &::before {
      top: -13px;
      left: -21px;
      width: 54px;
      height: 54px;
    }

    &::after {
      top: 4px;
      left: -4px;
      width: 20px;
      height: 20px;
    }
  }

  .filter-type__radio-label input[type="radio"] + .filter-type__radio {
    &::before {
      top: -13px;
      left: -21px;
      width: 54px;
      height: 54px;
    }
  }

  .filter-type {
    padding-top: 30px;
    margin-bottom: 45px;
  }

  .filter-type__radio-list {
    padding-left: 167px;
    margin-top: -38px;

    li {
      &:first-child {
        margin-bottom: 16px;
      }
    }
  }

  .filter-type__radio-item {
    padding: 20px;
  }
}

@media (min-width: $width-desktop) {
  .filter-type__wrapper {
    padding-left: 63px;
  }

  .filter-type__radio-list {
    padding-left: 112px;
  }
}
