.goods {
  margin-bottom: 34px;

  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.goods__title {
  position: relative;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 76px 39px 0;
  margin-bottom: 120px;
}

.goods__list {
  padding: 0;
  margin: 0;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;

  @include reset-list;
}

.goods__item {
  position: relative;
  min-height: 103px;
  background-color: $blue-color;
}


.goods__item--darker-color {
  background-color: darken($blue-color, 5%);
}

.goods__link {
  color: #ffffff;
  display: block;
  padding: 30px 108px 30px 29px;

  &:active {
    opacity: 0.3;
  }
}

.goods__item--icon-interior {
  &::before {
    content: "";
    width: 40px;
    height: 62px;
    position: absolute;
    background-image: url("../img/icon-interior.svg");
    top: 23px;
    right: 36px;
    background-repeat: no-repeat;
  }

  &:hover,
  &:focus {
    &::before {
      opacity: 0.5;
    }
  }

  &:active {
    &::before {
      opacity: 0.3;
    }
  }
}

.goods__item--icon-toy {
  &::before {
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    background-image: url("../img/icon-toy.svg");
    background-repeat: no-repeat;
    top: 21px;
    right: 27px;
  }

  &:hover,
  &:focus {
    &::before {
      opacity: 0.5;
    }
  }

  &:active {
    &::before {
      opacity: 0.3;
    }
  }
}

@media (min-width: $width-tablet) {
  .goods {
    margin-bottom: 55px;
  }

  .goods__list {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }
}
