.goods {
  margin-bottom: 27px;
  background-color: #f8f8f8;

  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -17px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 575px 373px;
  }
}

.goods__title {
  position: relative;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 70px 30px 0;
  margin-bottom: 122px;
}

.goods__list {
  padding: 0;
  margin: 0;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;

  @include reset-list;
}

.goods__item {
  position: relative;
  min-height: 103px;
  background-color: $blue-color;
}


.goods__item--darker-color {
  background-color: darken($blue-color, 5%);
}

.goods__link {
  color: #ffffff;
  display: block;
  padding: 25px 210px 30px 29px;

  &:active {
    opacity: 0.3;
  }
}

.goods__link--interior {
  &::before {
    content: "";
    width: 40px;
    height: 62px;
    position: absolute;
    background-image: url("../img/icon-interior.svg");
    top: 23px;
    right: 36px;
    background-repeat: no-repeat;
  }

  &:hover,
  &:focus {
    &::before {
      opacity: 0.5;
    }
  }

  &:active {
    &::before {
      opacity: 0.3;
    }
  }
}

.goods__link--toy {
  &::before {
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    background-image: url("../img/icon-toy.svg");
    background-repeat: no-repeat;
    top: 21px;
    right: 27px;
  }

  &:hover,
  &:focus {
    &::before {
      opacity: 0.5;
    }
  }

  &:active {
    &::before {
      opacity: 0.3;
    }
  }
}

@media (min-width: $width-tablet) {
  .goods {
    position: relative;
    margin-bottom: 33px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: center 0;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 24px;
      background-image: url("../img/bg-zigzag-fill.svg");
      left: 0;
      bottom: -1px;
      background-repeat: repeat-x;
      background-size: contain;
      background-position: bottom;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 1150px 746px;
    }
  }

  .goods__link--interrior {
    &::before {
      top: 28px;
    }
  }

  .goods__list {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    font-size: 20px;
    line-height: 30px;
  }

  .goods__item {
    width: 50%;
    min-height: 129px;

    &:hover,
    &:focus {
      transform: translateY(-5px);
    }
  }

  .goods__title {
    font-size: 43px;
    line-height: 50px;
    padding: 151px 65px 0;
    margin-bottom: 374px;
  }

  .goods__link {
    padding-left: 36px;
    padding-right: 115px;
  }
}

@media (min-width: $width-desktop) {
  .goods {
    margin-bottom: 58px;
    background-image: url("../img/hero-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: 1150px 746px;
    }
  }

  .goods__title {
    font-size: 53px;
    line-height: 57px;
    padding: 153px 180px 0;
    margin-bottom: 357px;
  }

  .goods__link {
    padding-right: 380px;
  }
}
