.goods {
  margin-bottom: 34px;

  &__title {
    font-size: 27px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0 39px;
    padding-top: 76px;
    margin-bottom: 120px;
  }

  &__list {
    width: 320px;
    padding: 0;
    margin: 0;
    font-size: 19px;
    line-height: 24px;
    font-weight: bold;
  }

  &__item {
    min-height: 103px;
    background-color: #63d1bb;
    padding: 30px 185px 30px 29px;
  }

  &__item--darker-color {
    background-color: #56c3b2;
  }

  &__link {
    color: #ffffff;
  }
}
