.main-nav {
  min-height: 79px;

  &__toggle {
    position: absolute;
    top: 29px;
    left: 780px;
    width: 21px;
    height: 21px;
    font-size: 0;
    background: none;
    border: 0;
    cursor: pointer;

    &::after,
    &::before {
      top: 0;
      position: absolute;
      content: "";
      height: 21px;
      width: 2px;
      background-color: #000000;
    }

    &::after {
      transform: rotate(45deg);
    }

    &::before {
      transform: rotate(-45deg);
    }
  }
}
