.main-nav {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  top: -55px;
  left: 269px;
  width: 21px;
  height: 21px;
  font-size: 0;
  background: none;
  border: 0;
  cursor: pointer;

  &::after,
  &::before {
    top: 0;
    position: absolute;
    content: "";
    height: 21px;
    width: 2px;
    background-color: $black-color;
  }

  &::after {
    transform: rotate(45deg);
  }

  &::before {
    transform: rotate(-45deg);
  }
}

@media (min-width: $width-tablet) {
  .main-nav {
    display: flex;
    flex-wrap: wrap;
  }

  .main-nav__mock-top {
    display: flex;
    order: 0;
    min-width: 340px;
  }

  .main-nav__mock-bot {
    display: flex;
    order: 1;
    min-width: 310px;
  }
}
