.main-nav {
  position: relative;
  // display: flex;
}

.main-nav__toggle {
  position: absolute;
  top: -55px;
  left: 269px;
  width: 21px;
  height: 21px;
  font-size: 0;
  background: none;
  border: 0;
  cursor: pointer;

  &::after,
  &::before {
    top: 0;
    position: absolute;
    content: "";
    height: 21px;
    width: 2px;
    background-color: $black-color;
  }

  &::after {
    transform: rotate(45deg);
  }

  &::before {
    transform: rotate(-45deg);
  }
}
