.name__full-name-list {
  margin-top: 26px;

  li:last-child {
    padding-bottom: 0;
  }
}

.name__full-name-item {
  padding-bottom: 20px;
}

.name {
  margin-bottom: 32px;

  input {
    min-height: 52px;
    border: 0;
    border-bottom: 2px solid #000000;
    width: 100%;
  }

  input::placeholder {
    color: rgba(68, 68, 68, 0.3);
    font-size: 17px;
    line-height: 18px;
  }
}

.name__full-name-label input[type="text"] {
  &:hover,
  &:focus {
    border-color: $blue-color;
  }
}

@media (min-width: $width-tablet) {
  .name__full-name-label input[type="text"] {
    padding: 0 17px;
  }

  .name__full-name-list {
    padding-left: 168px;
    margin-top: -35px;

    span {
      padding-right: 25px;
    }
  }

  .name__full-name-label {
    display: flex;
    align-items: center;
  }

  .name__full-name-item {
    padding-bottom: 25px;
  }

  .name {
    margin-bottom: 48px;

    ::placeholder {
      font-size: 19px;
      line-height: 18px;
    }
  }
}

@media (min-width: $width-desktop) {
  .name__wrapper {
    padding-right: 175px;
    padding-left: 61px;
  }

  .name__full-name-list {
    padding-left: 115px;
  }
}
