.page-footer {
  width: 100%;
  background-color: whitesmoke;
  margin-top: 39px;
}

.page-footer__wrapper {
  padding: 0 30px;
}

.page-footer__logo-icon {
  display: none;
}

@media (min-width: $width-tablet) {
  .page-footer {
    margin-top: 57px;
  }

  .page-footer__logo-icon {
    display: block;
    margin-right: 70px;

    &:hover,
    &:focus {
      svg {
        fill: #46c1ae;
      }
    }

    &:active {
      opacity: 0.3;
    }
  }

  .page-footer__wrapper {
    display: flex;
    align-items: center;
    padding: 30px 0;
    justify-content: space-between;
    // padding: 50px 0;
  }
}

@media (min-width: $width-desktop) {
  .page-footer {
    margin-top: 106px;
  }
}
