.page-main-form__title {
  margin: 0;
  font-size: 27px;
  line-height: 30px;
  padding: 70px 30px 76px;
  text-align: center;
}

.page-main-form__wrapper {
  background-color: #f1f1f1;
  margin-bottom: 22px;
}

.page-main-form__text {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  color: $grey-color;
  padding: 0 30px;
  margin-bottom: 25px;
}

.page-main-form {
  padding-bottom: 16px;

  legend {
    color: $blue-color;
    font-size: 17px;
    line-height: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }

  fieldset {
    border: 0;
    padding: 0 30px;
    margin: 0;
  }
}

.page-main-form__list {
  @include reset-list;

  span {
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
  }
}

@media (max-width: $mobile-width-only) {
  .page-main-form {
    legend {
      display: flex;
      align-items: center;
      width: 100%;

      &::after {
        content: "";
        width: 50px;
        height: 1px;
        background: $blue-color;
        flex-grow: 1;
        flex-shrink: 0;
        margin-left: 25px;
      }
    }
  }
}

@media (min-width: $width-tablet) {
  .page-main-form {
    margin-top: -79px;
    border-top: 1px solid #ececec;
    padding-bottom: 0;
    margin-bottom: -6px;

    fieldset {
      padding: 0;
    }
  }

  .page-main-form__wrapper {
    position: relative;
    margin-bottom: 64px;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 24px;
      background-image: url("../img/bg-zigzag-fill.svg");
      left: 0;
      bottom: 0;
      background-repeat: repeat-x;
      background-size: contain;
      background-position: bottom;
    }
  }

  .page-main-form__title {
    @include tablet-title;

    padding: 90px 0 90px;
  }

  .page-main-form__text {
    font-size: 17px;
    line-height: 30px;
    padding: 0;
    margin-bottom: 45px;
  }

  .page-main-form__list {
    span {
      font-size: 19px;
      line-height: 18px;
    }
  }

  .page-main-form__line {
    display: none;
  }
}

@media (min-width: $width-desktop) {
  .page-main-form__title {
    @include desktop-title;
    padding-bottom: 115px;
  }

  .page-main-form__wrapper {
    margin-bottom: 110px;
  }

  .page-main-form__text {
    padding: 0 175px;
  }
}
