.personal-contacts {
  margin-bottom: 33px;

  input {
    min-height: 52px;
    border: 0;
    border-bottom: 2px solid #000000;
    width: 100%;
  }

  ::placeholder {
    color: rgba(68, 68, 68, 0.3);
    font-size: 17px;
    line-height: 18px;
  }

  label {
    padding-right: 50px;
  }
}

.personal-contacts__tel-item,
.personal-contacts__email-item {
  position: relative;

  // &:hover,
  // &:focus {
  //   .personal-contacts__icon-phone,
  //   .personal-contacts__icon-mail {
  //     opacity: 1;
  //     fill: $blue-color;
  //   }
  // }
}

.personal-contacts__icon-phone,
.personal-contacts__icon-mail {
  position: absolute;
  top: 12px;
  right: 5px;
  opacity: 0.2;
}

.personal-contacts__tel-list {
  margin-top: 6px;
  margin-bottom: 32px;
}

.personal-contacts__email-list {
  margin-top: 7px;
}

.personal-contacts__tel-label input[type="tel"],
.personal-contacts__email-label input[type="email"] {
  &:hover,
  &:focus {
    border-color: $blue-color;
  }
}

.personal-contacts__tel-label input[type="tel"]:hover + .personal-contacts__icon-phone,
.personal-contacts__tel-label input[type="tel"]:focus + .personal-contacts__icon-phone,
.personal-contacts__tel-label input[type="tel"]:active + .personal-contacts__icon-phone,
.personal-contacts__email-label input[type="email"]:hover + .personal-contacts__icon-mail,
.personal-contacts__email-label input[type="email"]:focus + .personal-contacts__icon-mail,
.personal-contacts__email-label input[type="email"]:active + .personal-contacts__icon-mail {
  opacity: 1;
  fill: $blue-color;
}

@media (min-width: $width-tablet) {
  .personal-contacts__tel-label input[type="tel"],
  .personal-contacts__email-label input[type="email"] {
    padding: 0 50px 0 17px;
  }

  .personal-contacts__icon-phone,
  .personal-contacts__icon-mail {
    right: 24px;
  }

  .personal-contacts {
    background-color: #f1f1f1;
    padding: 70px 0;
    padding-bottom: 6px;
    margin-bottom: 68px;

    input {
      background-color: transparent;
    }
  }

  .personal-contacts__tel-list,
  .personal-contacts__email-list {
    padding-left: 168px;
    margin: 0;
    margin-top: -36px;
  }

  .personal-contacts__tel-list {
    padding-bottom: 45px;
  }

  .personal-contacts__email-list {
    padding-bottom: 45px;
  }
}

@media (min-width: $width-desktop) {
  .personal-contacts__icon-phone,
  .personal-contacts__icon-mail {
    right: 6px;
  }

  .personal-contacts__wrapper {
    padding-right: 175px;
    padding-left: 61px;
  }

  .personal-contacts__tel-list,
  .personal-contacts__email-list {
    padding-left: 115px;

    label {
      &::after {
        right: 0;
      }
    }
  }
}
