.product-of-week {
  @include reset-p;

  margin-bottom: 34px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 320px;
    height: 6px;
    background-image: url("../img/bg-zigzag-line.svg");
    left: 0;
    background-repeat: no-repeat;

    background-size: 100%;
  }
}

.product-of-week__wrapper {
  padding: 0 30px;
  padding-bottom: 36px;
}

.product-of-week__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  padding-left: 2px;
  padding-bottom: 8px;
}

.product-of-week__week-item {
  display: block;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  padding-bottom: 30px;
  text-transform: uppercase;
}

.product-of-week__description {
  @include reset-p;

  width: 250px;
  font-size: 15px;
  line-height: 24px;
  padding-bottom: 34px;
}

.product-of-week__table {
  min-width: 260px;
  font-size: 15px;
  line-height: 20px;
  color: #444444;
  margin-bottom: 28px;

  border-collapse: collapse;

  tr {
    border-bottom: 1px solid #e7e7e7;
  }
}

.product-of-week__option {
  height: 39px;
}

.product-of-week__item-image {
  display: block;
  padding-bottom: 29px;
}

.product-of-week__price {
  padding: 0;
  margin: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 28px;
}

.product-of-week__button {
  padding: 18px 85px;
}
