.reviews {
  position: relative;
  padding-bottom: 44px;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 6px;
    background-image: url("../img/bg-zigzag-line.svg");
    left: 0;
    background-repeat: repeat-x;

    background-size: 50%;
  }
}

.reviews__wrapper {
  min-width: 320px;
  padding: 0 30px;
  margin: 0 auto;
  padding-bottom: 45px;

  a {
    margin: 0 auto;
  }
}

.reviews__title {
  @include reset-h;

  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  padding-bottom: 38px;
}

.reviews__item {
  margin: 0;
  padding-bottom: 36px;
}

.reviews__text {
  @include reset-p;

  font-size: 15px;
  line-height: 30px;
  color: $grey-color;
  padding-bottom: 40px;
}

.reviews__author {
  @include reset-p;

  font-size: 17px;
  line-height: 30px;
  text-align: center;
}

.reviews__author-name {
  font-weight: bold;
  font-style: normal;
}

.reviews__author__nick-name {
  color: $grey-color;
}

.reviews__slider {
  @include reset-list;

  margin: 0;
  padding: 0;
  padding-bottom: 38px;

  display: flex;
  justify-content: center;
}

.slider-arrow {
  border: 1px solid #ececec;
  cursor: pointer;
  background: none;
  display: block;
  padding: 13px 42px 13px 38px;
}

.reviews__wrapper-bottom {
  justify-content: center;
  align-items: center;
  align-content: center;
}
