.reviews {
  position: relative;
  padding-bottom: 41px;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 6px;
    background-image: url("../img/bg-zigzag-line.svg");
    left: 0;
    background-repeat: repeat-x;

    background-size: contain;
  }
}

.reviews__wrapper {
  min-width: 320px;
  padding: 0 30px;
  margin: 0 auto;
  padding-bottom: 45px;
}

.reviews__title {
  @include reset-h;

  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  padding-bottom: 24px;
}

.reviews__item {
  margin: 0;
  padding-bottom: 24px;
}

.reviews__text {
  @include reset-p;

  font-size: 15px;
  line-height: 30px;
  color: $grey-color;
}

.reviews__author {
  @include reset-p;

  font-size: 17px;
  line-height: 30px;
  padding-bottom: 29px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.contacts__text--first-colum {
  padding-right: 32px;
}

.reviews__author-name {
  font-weight: bold;
  font-style: normal;
}

.reviews__author__nick-name {
  color: $grey-color;
}

.reviews__slider {
  @include reset-list;

  padding-bottom: 34px;
  display: flex;
  justify-content: center;
}

.slider-arrow {
  border: 1px solid #ececec;
  cursor: pointer;
  background: none;
  display: block;
  padding: 13px 42px 13px 38px;
  margin: 0 auto;
  width: 100%;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.slider__item {
  width: 50%;
}

.reviews__wrapper-bottom {
  justify-content: center;
  align-items: center;
  align-content: center;
}

.reviews__button {
  width: 100%;
}

@media (min-width: $width-tablet) {
  .slider-arrow {
    padding: 18px;
  }

  .reviews__wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    padding-top: 77px;
    padding-bottom: 80px;
  }

  .reviews__button {
    order: -1;
    align-self: flex-start;
    margin: 0;
    width: 175px;
  }

  .reviews__title {
    order: -1;
    align-self: flex-start;
    font-size: 43px;
    line-height: 50px;
    padding-bottom: 48px;
  }

  .reviews__text {
    align-self: center;
    padding: 0;
  }

  .reviews__item {
    padding: 0;
    width: 642px;
    padding-bottom: 55px;
  }

  .reviews__author {
    align-self: flex-end;
    display: block;
    width: 255px;
    text-align: left;
    padding: 0;
    padding-bottom: 34px;
  }

  .reviews {
    padding: 0;
    margin-bottom: 57px;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;

    &::after {
      height: 15px;
    }
  }

  .reviews__slider {
    padding: 0;

    button {
      border: transparent;
    }
  }
}

@media (min-width: $width-desktop) {
  .reviews {
    margin: 0;
    background-image: none;
    padding-bottom: 94px;

    &::after {
      width: 1050px;
      height: 23px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .reviews__wrapper {
    padding-top: 70px;
    padding-left: 175px;
    padding-bottom: 127px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;

    a {
      margin-top: 9px;
    }
  }

  .reviews__slider {
    top: 302px;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }

  .reviews__item {
    padding-bottom: 8px;
  }
}
