.site-list {
  @include reset-list;

  display: none;
  position: relative;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  margin: 0 auto;
}

.site-list__icon {
  opacity: 0.2;
  position: absolute;
}

.site-list__link {
  position: relative;
  display: block;
  color: $black-color;
  padding: 32px 30px 30px 76px;

  &:hover,
  &:focus {
    span {
      opacity: 0.6;
    }

    .site-list__icon {
      opacity: 1;
      fill: $blue-color;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.site-list__icon--search {
  left: 25px;
}

.site-list__icon--cart {
  left: 25px;
}

.site-list__item {
  min-height: 79px;
  border-bottom: 1px solid #ececec;
}

.site-list--bot-menu {
  order: 2;
}

.site-list--border {
  border-top: 1px solid #ececec;
}

.site-list--bot-menu,
.site-list--top-menu {
  li {
    background-color: #ffffff;
  }
}

.main-nav__list.site-list--desktop-menu {
  display: none;
}

@media (min-width: $width-tablet) {
  .site-list {
    display: flex;
    margin: 0;
  }

  .site-list--bot-menu,
  .site-list--top-menu {
    li {
      background-color: transparent;
    }
  }

  .site-list--border {
    border: none;
  }

  .site-list__item {
    border: none;
  }

  .site-list--top-menu {
    order: -1;
    min-width: 350px;

    .site-list__item {
      border-left: 1px solid gainsboro;
    }

    &:first-child {
      a {
        padding-bottom: 64px;
      }
    }

    .site-list__link {
      padding: 31px 0 33px 83px;
      min-height: 87px;
    }

    .site-list__link--search {
      padding-top: 55px;
    }

    .site-list__item-hidden {
      display: none;
    }
  }

  .site-list--bot-menu {
    padding-right: 95px;
    z-index: 2;

    .site-list__item {
      font-size: 15px;
      line-height: 24px;
      margin-right: 37px;
    }

    .site-list__link {
      padding: 16px 0;
    }
  }

  .site-list__icon--search {
    left: 35px;
    top: 34px;
  }

  .site-list__icon--cart {
    left: 34px;
    top: 32px;
  }

  .site-list--desktop-menu {
    display: none;
    z-index: 2;
  }
}

@media (min-width: $width-desktop) {
  .main-nav__list.site-list--desktop-menu {
    display: flex;

    .site-list__item {
      margin-right: 60px;
    }
  }

  .site-list__link {
    padding: 15px 0;
  }

  .site-list--bot-menu {
    font-size: 17px;
    order: -1;
    padding-right: 0;

    .site-list__item {
      font-size: 17px;
      margin-right: 70px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .site-list {
    font-size: 15px;
  }

  .site-list--top-menu {
    order: 0;
    font-size: 17px;
    padding-top: 2px;

    .site-list__link {
      padding: 31px 0 31px 83px;
    }
  }

  .site-list--bot-menu .site-list__link {
    padding: 30px 0;
  }
}
