.social {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 260px;
    background-color: gainsboro;
  }
}

.social__list {
  @include reset-list;

  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 57px;
}

.social__link {
  &:hover,
  &:focus {
    .social__icon path {
      fill: #46c1ae;
    }
  }

  &:active {
    opacity: 0.3;
  }
}
