.social {
  position: relative;

  border-bottom: 1px solid gainsboro;
}

.social__list {
  @include reset-list;

  min-height: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social__item {
  padding: 20px;
}

.social__link {
  &:hover,
  &:focus {
    .social__icon {
      fill: #46c1ae;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $width-tablet) {
  .social {
    border: transparent;
  }
}
