html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;

  font-family: "Opensans", "PTSans", "Arial", sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}
